<h1> Welcome to Bhatta</h1>

<app-logged-in-user></app-logged-in-user>
<br/>
<br/>
<br/>

<div class="container-fluid">
  <h2> User enrollment </h2>
  <form #userForm="ngForm" novalidate (ngSubmit)="createUser()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" class="form-control">
    </div>

    <div class="form-group">
      <label>Phone number</label>
      <input type="tel" name="phoneNumber" [(ngModel)]="phone" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<hr/>

<br/>
<br/>
<br/>


<div>
  <h2>Enrolled users</h2>
  <hr/>
  <table class="table">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    </thead>
    <tbody>
    <tr *ngFor="let usr of users">
      <td>{{usr.name}}</td>
      <td>{{usr.email}}</td>
      <td>{{usr.phone}}</td>
    </tr>
    </tbody>

  </table>
</div>

<app-login></app-login>




